body{
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
    text-align: center;
   
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
 
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    font-size: 40px;
    color:mediumvioletred;
    background-color: aliceblue;
    transition: background-color 1s linear;
 }
.box:hover{
    background-color:beige;
    color:red;
}

.reset-btn{
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color:lawngreen;
    color:black;
    font-weight: bold;
   
    
}
.new-btn{
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color:lawngreen;
    color:blue;
    font-weight: bold;
}

#animate{
    background-color: orange;
}
.hide{
    visibility: hidden;
     }

.winner{
         font-size: 100px;
         color:white;
         background-color: orchid;
         


}
.add{
    font-weight:600;
    font-size: 60px;

   
}
